html {
	height:100%;
 	min-height:100%;
}

body {
	min-height:100%;
	margin: 0;
	padding: 0;
	background-color: #FFF5C8;
	background-image: url("imagens/fundo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	padding: 0px 0px;
	margin-top: 0px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	font-family: 'Gloria Hallelujah', cursive;
}

.stickman {
	display: none;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 50px;
}

.stickman img {
	max-width: 100%;
	width: 150px;
}

@media only screen and (max-width: 768px) {
	.stickman img {
		width: 100px;
	}
}

.categoria {
	display: none;
	background-color: #666;
	width: 80%;
	max-width: 300px;
	height: auto;
	padding: 5px;	
	text-align: center;
	margin: 0px auto;
	margin-top: -20px;
	border-radius: 10px;
}

.categoria label {
	text-transform: uppercase;	
	color: #FFF;
	font-size: 20px;
	font-weight: normal;
	font-family: 'Cabin', sans-serif;
}	

.palavra-container {
	position: fixed;
	bottom: 200px;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 0px 5px;
	border: 0px solid red;
	margin-top: 100px;
}

.palavra-container .posicao-letra {
	width: 10%;
	max-width: 50px;
	height: 30px;
	border: none;
	border-bottom: 3px solid #333;
	background: transparent;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #666;
	font-family: 'Gloria Hallelujah', cursive;
	margin-right: 5px;
}

.palavra-container .posicao-hifen,
.palavra-container .posicao-espaco {
	padding: 0px 5px;
	font-weight: bold;
	font-size: 30px;
	color: #666;
}

.tentativas {
	display: none;
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 130px; 
	color: #333;
	font-family: 'Gloria Hallelujah', cursive;
}

.tentativas span {
	font-size: 1.5em;
}

.teclado {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0px;
	background: #111;
	z-index: 9;
}

.teclado .teclado-row {
	width: 100%;
	max-width: 700px;
	clear: both;
	margin: 0 auto;
	margin-bottom: 5px;
}

.teclado .teclado-row .teclado-button {
	width: 8%;
	height: 30px;
	background: #333;
	border: 0px solid #333;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	outline: 0;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
	font-family: 'Cabin', sans-serif;
}

.teclado .teclado-row .teclado-button:hover,
.teclado .teclado-row .teclado-button:active {
	background: #222;
}

.teclado .teclado-row .teclado-button-inative {
	background: #D86666;
	color: #FFF;
	cursor: default;
}

.teclado .teclado-row .teclado-button-inative:hover,
.teclado .teclado-row .teclado-button-inative:active {
	background: #D86666;
	color: #FFF;
}	

.teclado .teclado-row .teclado-button-valid {
	background: #4ACF6C;
	color: #FFF;
	cursor: default;	
}

.teclado .teclado-row .teclado-button-valid:hover,
.teclado .teclado-row .teclado-button-valid:active {
	background: #4ACF6C;
	color: #FFF;
}

.btn {
	width: 90%;
	min-width: 200px;
	max-width: 500px;
	background: #088CD0;
	color: #FFF;
	padding: 20px 0px;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	outline: none;
	font-family: 'Cabin', sans-serif;
	text-transform: uppercase;
	transition: all 0.2s ease-in;
	font-weight: bold;
	-webkit-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.54);
	box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.54);
}

.btn i {
	margin-left: 10px;
}	

.btn:active,
.btn:hover {
	background: #666;
	cursor: pointer;
}

.btn-container {
	width: 100%;
	height: auto;
	text-align: center;
}

.jogar-novamente-container {
	display: none;
	width: 100%;
	position: fixed;
	text-align: center;
	bottom: 20px;
}

.game-over-container {
	display: none;
	width: 100%;
	position: fixed;
	text-align: center;
	bottom: 100px;
}

.game-over-container button {
	background: #D86666;
	pointer-events: none;
    cursor: default;
}

.winner-container {
	display: none;
	width: 100%;
	position: fixed;
	text-align: center;
	bottom: 100px;
}

.winner-container button {
	background: #4ACF6C;
	pointer-events: none;
    cursor: default;
}

.escolha-palavra-container,
.categorias-container {
	display: none;
	width: 90%;
	max-width: 600px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.escolha-palavra-container h2,
.categorias-container h2 {
	width: 100%;
	font-family: 'Cabin', sans-serif;
	text-align: center;
}

.categorias-container .lista-categorias {
	padding: 0;
    list-style-type: none;
    text-align: left;
}

.categorias-container .lista-categorias li {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.categorias-container .lista-categorias li:first-child {
	margin-top: 50px;
}

.categorias-container .lista-categorias li:last-child {
	margin-bottom: 50px;
}

.categorias-container .lista-categorias li input {
	transform: scale(1.5);
}

.categorias-container .lista-categorias li i {
	margin-left: 20px;
	margin-right: 10px;
}

.categorias-container .lista-categorias li label {
	width: 100%;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
}

.btn-confirma-categoria-container {
	display: none;
}

.escolha-palavra-container input {
	border: none;
	background-color: transparent;
	border-bottom: 3px solid #333;
	width: 100%;
	max-width: 250px;
	height: 30px;
	outline: none;
	font-weight: bold;
	font-size: 20px;
	color: #666;
	font-family: 'Gloria Hallelujah', cursive;
	padding: 2px 20px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	letter-spacing: 3px;
}

.escolha-palavra-container input.invalid {
	border-color: #D86666;
}

.animais {
	background: #827C46 !important;
}	
.frutas {
	background: #D86666 !important;
}	
.carros {
	background: #088CD0 !important;
}	
.objetos {
	background: #666 !important;
}